In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
data = 'Food_Supply_Quantity.csv'

In [3]:
fsq_covid_df = pd.read_csv(data)
fsq_covid_df.head()

,Country,Alcoholic Beverages,Animal fats,Animal Products,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetables,Vegetal Products,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0014,0.1973,9.4341,0.0,24.8097,0.2099,0.0350,5.3495,1.2020,...,6.7642,40.5645,4.5,29.8,0.098032,0.003602,0.074725,0.019706,38928000.0,%
1,Albania,1.6719,0.1357,18.7684,0.0,5.7817,0.5815,0.2126,6.7861,1.8845,...,11.7753,31.2304,22.3,6.2,0.330514,0.009866,0.181078,0.139570,2838000.0,%
2,Algeria,0.2711,0.0282,9.6334,0.0,13.6816,0.5277,0.2416,6.3801,1.1305,...,11.6484,40.3651,26.6,3.9,0.099524,0.003384,0.069838,0.026303,44357000.0,%
3,Angola,5.8087,0.0560,4.9278,0.0,9.1085,0.0587,1.7707,6.0005,2.0571,...,2.3041,45.0722,6.8,25,0.008068,0.000329,0.003269,0.004471,32522000.0,%
4,Antigua and Barbuda,3.5764,0.0087,16.6613,0.0,5.9960,0.2274,4.1489,10.7451,5.6888,...,5.4495,33.3233,19.1,NaN,0.095918,0.003061,0.092857,0.000000,98000.0,%

In [4]:
confirmed_cases = fsq_covid_df[['Country', 'Confirmed']]
confirmed_cases

                                Country  Confirmed
0                           Afghanistan   0.098032
1                               Albania   0.330514
2                               Algeria   0.099524
3                                Angola   0.008068
4                   Antigua and Barbuda   0.095918
..                                  ...        ...
165  Venezuela (Bolivarian Republic of)   0.160126
166                             Vietnam   0.001081
167                               Yemen   0.006548
168                              Zambia   0.065410
169                            Zimbabwe   0.043141

[170 rows x 2 columns]

In [5]:
country_count = confirmed_cases.count()
country_count

Country      170
Confirmed    161
dtype: int64

In [6]:
cases_ranked = confirmed_cases.sort_values('Confirmed')
cases_ranked = cases_ranked.dropna()
cases_ranked

                              Country  Confirmed
85   Lao People's Democratic Republic   0.000304
160       United Republic of Tanzania   0.000852
166                           Vietnam   0.001081
24                           Cambodia   0.001762
150                       Timor-Leste   0.002049
..                                ...        ...
161          United States of America   1.817772
20                             Brazil   1.823462
120                              Peru   1.948072
29                              Chile   2.105670
118                            Panama   2.149545

[161 rows x 2 columns]